@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


p {
  font-family: var(--font-prompt);
  text-shadow: 5px 4px 6px rgba(0, 0, 0, 2);
  font-size: 20px;
}

.wrap-footer {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#06a300),
    to(#003a07)
  );
  background: -webkit-linear-gradient(top, #06a300 0%, #003a07 100%);
  background: -o-linear-gradient(top, #06a300 0%, #003a07 100%);
  background: linear-gradient(180deg, #06a300 0%, #003a07 100%);
  border-top: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.promotion {
  background: rgba(0, 0, 0, 0.856);
  border: 5px solid #15e810;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 4px 50px #15e810;
  box-shadow: inset 0px 4px 50px #15e810;
  border-radius: 50px;
  width: 60%;
  height: 4750px;
}

a, p {
  text-shadow: 5px 4px 6px rgba(0, 0, 0, 2);
}

.shake {
  animation: ani_shake 0.7s;
  animation-iteration-count: infinite;
}

.flipX {
  animation: 2s flipX ease infinite;
}

@keyframes flipX {
   {
    opacity: 0;
    transform: rotateX(90def);
  }

  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
